svg(width="500", height="100")
  g(transform="translate(0,100)")
    g(transform="scale(1,-1)")
      each val, i in data
        unless highlight
          rect(width=w, height=val, x=(w*i)+(i*m), fill=c, opacity="1.0")
        else
          if i === highlight
            rect(width=w, height=val, x=(w*i)+(i*m), fill=c, opacity="1.0")
          else
            rect(width=w, height=val, x=(w*i)+(i*m), fill=c, opacity="0.3")

text(x="0", y="40", fill="red")
  | #{title}
